<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" style="font-size: 48.24px">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
      name="viewport"
    />
    <title>KIKI79</title>
    <link href="/css/promotion/app.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_1.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_2.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_3.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_4.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_5.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_6.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      href="/images/bitbug_favicon.ico"
      type="image/x-icon"
    />
    <style>
      html,
      body {
        height: 100%;
        width: 100%;
        background-color: #9195a3;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>

  <body style="font-size: 12px">
    <div id="app">
      <div data-v-7c8bbbf4="" class="mian">
        <div
          data-v-106b99c8=""
          data-v-7c8bbbf4=""
          class="navbar"
          style="
            background-image: linear-gradient(to right, #fff, #fff, #fff, #fff);
          "
        >
          <div data-v-106b99c8="" class="navbar-left"></div>
          <div
            data-v-106b99c8=""
            class="navbar-title"
            style="font-weight: bold; color: #000000"
          >
            ĐẠI LÝ
          </div>
          <div
            data-v-106b99c8=""
            class="navbar-right"
            onclick="location.href='/promotion/bonusrecord'"
          >
            <div data-v-7c8bbbf4="" data-v-106b99c8="" class="c-row">
              <i
                data-v-7c8bbbf4=""
                data-v-106b99c8=""
                class="van-icon van-icon-notes-o"
                style="font-size: 25px; color: #d61516""
              >
                <!---->
              </i>
            </div>
          </div>
        </div>
        <!--NEW CODE promotion-->
        <div
          class="navbar-title"
          style="
            height: 279px;
            background-image: linear-gradient(
              to top right,
              #d61516,
              #eb3732,
              #f45f5d,
              #fff
            );
            display: flex;
            justify-content: center;
          "
        >
        <div data-v-7c8bbbf4="" class="center">
          <p data-v-7c8bbbf4="" class="center" id="roses_today" style="color: #fff;font-weight: bold;font-size: 26px; margin-top: 20px; text-align: center;">0</p>
          <div data-v-7c8bbbf4="" class="center" style="text-align: center;">
            <h5 data-v-7c8bbbf4="" class="all" style="display: block; background-color: #fcc419; border-radius: 18px; padding: 10px;color: #b13c4c;">HOA HỒNG HÔM NAY</h5>
            <h5 style="display: block; padding: 6px;color: #FFF;">Thăng cấp độ để tăng thu nhập hoa hồng</h5>
          </div>
        </div> 
      </div>
      <div class="center" style="display: flex; margin-top: -140px; background-color: #fff; margin-left: 12px; margin-right: 12px; border-radius: 8px; justify-content: center;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <table style="background-color: #FFF; width: 100%; border-radius: 8px; text-align: center;">
            <tr style="background-color: #e6e8e8; height: 36px;">
              <th style="background-image: url('/images/Iconredusericon2.png'); background-repeat: no-repeat; background-position: 20px center; padding-left: 30px;background-size: 18px 18px; color: #000;">Cấp dưới trực tiếp</th>
              <th style="background-image: url('/images/Iconredusericon2.png'); background-repeat: no-repeat; background-position: 20px center; padding-left: 30px;background-size: 18px 18px;color: #000;">Cấp dưới của tôi</th>
            </tr>
            <tr style="background-color: #fff;">
              <td data-v-7c8bbbf4="" id="registered_users_direct_subordinates" style="font-size: 12px; color:#000;font-weight: 600;padding-top: 8px;">0</td>
              <td data-v-7c8bbbf4="" class="" id="registered_users_my_subordinates" style="font-size: 12px; color:#000;font-weight: 600;padding-top: 8px;">0</td>
            </tr>
            <tr style="background-color: #fff;">
                <td style="font-size: 12px; color:#888888;font-weight: 600;">Số người đăng ký</td>
                <td style="font-size: 12px; color:#888888;font-weight: 600;">Số người đăng ký</td>
            </tr>
            <tr style="background-color: #fff;">
              <td data-v-7c8bbbf4="" id="depositing_users_direct_subordinates" style="font-size: 12px; color:#6fd8b0;font-weight: 600;padding-top: 8px;">0</td>
              <td data-v-7c8bbbf4="" id="depositing_users_my_subordinates" style="font-size: 12px; color:#6fd8b0;font-weight: 600;padding-top: 8px;">0</td>
            </tr>
            <tr style="background-color: #fff;">
              <td style="font-size: 12px; color:#888888;font-weight: 600;">Số người nạp tiền</td>
              <td style="font-size: 12px; color:#888888;font-weight: 600;">Số người nạp tiền</td>
            </tr>
            <tr style="background-color: #fff;">
              <td data-v-7c8bbbf4="" id="deposited_amount_direct_subordinates" style="font-size: 12px; color:#ff8617;font-weight: 600;padding-top: 8px;">0</td>
              <td id="deposited_amount_my_subordinates" style="font-size: 12px; color:#ff8617;font-weight: 600;padding-top: 8px;">0</td>
            </tr>
            <tr style="background-color: #fff;">
              <td style="font-size: 12px; color:#888888;font-weight: 600;">Số tiền nạp</td>
              <td style="font-size: 12px; color:#888888;font-weight: 600;">Số tiền nạp</td>
            </tr>
            <tr style="background-color: #fff; ">
              <td data-v-7c8bbbf4="" id="first_deposit_users_direct_subordinates" style="font-size: 12px; color:#000;font-weight: 600;padding-top: 8px;">0</td>
              <td data-v-7c8bbbf4="" id="first_deposit_users_my_subordinates" style="font-size: 12px; color:#000;font-weight: 600;padding-top: 8px;">0</td>
            </tr>
            <tr style="background-color: #fff;">
              <td style="font-size: 12px; color:#888888;font-weight: 600;">Số người nạp đầu</td>
              <td style="font-size: 12px; color:#888888;font-weight: 600;">Số người nạp đầu</td>
            </tr>
            <tr style="background-color: #fff; ">
              <td style="font-size: 12px; color:#fff;font-weight: 600;padding-top: 4px;">0</td>
              <td style="font-size: 12px; color:#fff;font-weight: 600;padding-top: 4px;">0</td>
            </tr>
        </table>
    </div>

    <div data-v-7c8bbbf4="" class="btn-list c-row c-row-middle-center" style="justify-content: center; align-items: center; margin-left: 12px; margin-right: 12px; margin-top: 20px; background-image: linear-gradient(to right, yellow,#fcc419); background-color: #fcc419; border-radius: 28px;  color: #b13c4c;">
      <button data-v-7c8bbbf4="" class="btn-box" style="width: 100%; border: none; background-color: transparent;">
        <div data-v-7c8bbbf4="" class="btn m-b-10 c-row c-row-middle-center tag-read" data-clipboard-text="" style="font-size: 1px;color: #fff;">
          Sao chép Mã giới thiệu
        </div>
        <div data-v-7c8bbbf4="" data-clipboard-text="" class="btn m-b-10 c-row c-row-middle-center tag-read" style="font-size: 18px;font-weight: 600;margin-top: 8px;">
        LINK GIỚI THIỆU
        </div>
      </button>
    </div>

  <div data-v-7c8bbbf4="" class="btn-box" style="display: flex; justify-content: space-between; align-items: center; margin-left: 12px; margin-right: 12px; margin-top: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); height: 53px;">
    <div id="clipboard-element" style="display: flex; align-items: center; padding-left: 12px; background-color: #FFF; border: none;">
      <img src="/images/IconCopy.png" alt="Hình ảnh" style="width: 30px; height: 30px;">
      <p  style="margin-left: 10px; margin-right: 10px; font-size: 14px; font-weight: 600; color:#333;">Sao chép mã mời</p>
    </div>
    <div style="display: flex; align-items: center; padding-right: 12px;">
      <p id="clipboard-text" style="margin-left: 10px; margin-right: 10px; font-size: 10px; font-weight: 600; color:#caccda;"></p>
      <img src="/images/nextrighticon.png" alt="Hình ảnh" style="width: 20px; height: 20px;">
    </div>
  </div>

  <div onclick="location.href='/promotion/prtLowerData'" style="display: flex;justify-content: space-between;align-items: center;margin-left: 12px;margin-right: 12px;margin-top: 20px;background-color: #fff;border-radius: 8px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);height: 53px;">
    <div style="display: flex; align-items: center; padding-left: 12px;">
        <img src="/images/IconCalendar.png" alt="Hình ảnh" style="width: 30px; height: 30px;">
        <p style="margin-left: 10px; margin-right: 10px; font-size: 14px; font-weight: 600; color:#333;">Dữ liệu cấp dưới</p>
    </div>
    <div style="padding-right: 12px;">
      <img src="/images/nextrighticon.png" alt="Hình ảnh" style="width: 20px; height: 20px;">
    </div>
  </div>

  <div onclick="location.href='/promotion/prtRoseDetails'" style="display: flex;justify-content: space-between;align-items: center;margin-left: 12px;margin-right: 12px;margin-top: 20px;background-color: #fff;border-radius: 8px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);height: 53px;">
    <div style="display: flex; align-items: center; padding-left: 12px;">
        <img src="/images/IconPersent.png" alt="Hình ảnh" style="width: 30px; height: 30px;">
        <p style="margin-left: 10px; margin-right: 10px; font-size: 14px; font-weight: 600; color:#333;">Chi tiết hoa hồng</p>
    </div>
    <div style="padding-right: 12px;">
      <img src="/images/nextrighticon.png" alt="Hình ảnh" style="width: 20px; height: 20px;">
    </div>
  </div>

  <div onclick="location.href='/promotion/prtNewRules'" style="display: flex;justify-content: space-between;align-items: center;margin-left: 12px;margin-right: 12px;margin-top: 20px;background-color: #fff;border-radius: 8px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);height: 53px;">
    <div style="display: flex; align-items: center; padding-left: 12px;">
        <img src="/images/IconCheckBook.png" alt="Hình ảnh" style="width: 30px; height: 30px;">
        <p style="margin-left: 10px; margin-right: 10px; font-size: 14px; font-weight: 600; color:#333;">Quy tắc mời</p>
    </div>
        <div style="padding-right: 12px;">
        <img src="/images/nextrighticon.png" alt="Hình ảnh" style="width: 20px; height: 20px;">
    </div>
  </div>

    <div onclick="location.href='/promotion/prtCustomerCare'" style="display: flex;justify-content: space-between;align-items: center;margin-left: 12px;margin-right: 12px;margin-top: 20px;background-color: #fff;border-radius: 8px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);height: 53px;">
      <div style="display: flex; align-items: center; padding-left: 12px;">
          <img src="/images/IconSupport.png" alt="Hình ảnh" style="width: 30px; height: 30px;">
          <p style="margin-left: 10px; margin-right: 10px; font-size: 14px; font-weight: 600; color:#333;">Chuyên viên CSKH đại lý</p>
      </div>
          <div style="padding-right: 12px;">
          <img src="/images/nextrighticon.png" alt="Hình ảnh" style="width: 20px; height: 20px;">
      </div>
    </div>

    <div class="center" style="display: flex; margin-top: 20px; background-color: #fff; margin-left: 12px; margin-right: 12px; border-radius: 8px; justify-content: center;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <table style="background-color: #FFF; width: 100%; border-radius: 8px; text-align: center;">
          <tr style="background-color: #FFF; height: 36px;border-radius: 8px;">
            <th style="background-image: url('/images/IconCard.png'); background-repeat: no-repeat; background-position: 20px center; padding-left: 30px;background-size: 24px 24px;color: #000;">Dữ liệu khuyến mãi</th>
          </tr>
          <tr style="background-color: #fff; ">
            <td data-v-7c8bbbf4="" class="num" id="roses_f1" style="font-size: 16px; color:#000;font-weight: 600;padding-top: 8px;">0</td>
            <td data-v-7c8bbbf4="" class="num" id="roses_all" style="font-size: 16px; color:#000;font-weight: 600;padding-top: 8px;">0</td>
          </tr>
          <tr style="background-color: #fff;">
            <td style="font-size: 12px; color:#888888;font-weight: 600;border-right: 1px solid #ccc;">Tổng hoa hồng trong tuần</td>
            <td style="font-size: 12px; color:#888888;font-weight: 600;">Tổng hoa hồng</td>
          </tr>
          <tr style="background-color: #fff; ">
            <td data-v-7c8bbbf4="" id="registered_users_direct_subordinatesKM" style="font-size: 16px; color:#000;font-weight: 600;padding-top: 8px;">0</td>
            <td data-v-7c8bbbf4="" id="registered_users_my_subordinatesKM" style="font-size: 16px; color:#000;font-weight: 600;padding-top: 8px;">0</td>
          </tr>
          <tr style="background-color: #fff;">
            <td style="font-size: 12px; color:#888888;font-weight: 600;border-right: 1px solid #ccc;">Cấp dưới trực tiếp</td>
            <td style="font-size: 12px; color:#888888;font-weight: 600;">Số cấp dưới trong đội</td>
          </tr>
          <tr style="background-color: #fff; ">
            <td  style="font-size: 12px; color:#fff;font-weight: 600;padding-top: 4px;">0</td>
            <td style="font-size: 12px; color:#fff;font-weight: 600;padding-top: 4px;">0</td>
          </tr>
      </table>
    </div>
  
        <!--NEW CODE promotion-->
        <!-- <div data-v-7c8bbbf4="" class="promotion">
          <div data-v-7c8bbbf4="" class="tab">
            <ul data-v-7c8bbbf4="" class="c-row c-row-between">
              <li
                data-v-7c8bbbf4=""
                onclick="location.href='/promotion'"
                class="action block-click"
              >
                Tổng quan
              </li>
              <li
                data-v-7c8bbbf4=""
                onclick="location.href='/promotion/myTeam'"
              >
                Đội của tôi
              </li>
              <li
                data-v-7c8bbbf4=""
                onclick="location.href='/promotion/promotionDes'"
              >
                Lịch sử nhận
              </li>
              <li
                data-v-7c8bbbf4=""
                onclick="location.href='/promotion/tutorial'"
              >
                Hướng dẫn
              </li>
            </ul>
          </div>
          <div data-v-7c8bbbf4="" class="box">
            <div data-v-7c8bbbf4="" class="tit">Hướng dẫn</div>
            <div data-v-7c8bbbf4="" class="info">
              <div
                data-v-7c8bbbf4=""
                class="info-data c-row c-row-between m-b-20"
              >
                <div data-v-7c8bbbf4="" class="left">
                  <h5 data-v-7c8bbbf4="" class="all">Hoa hồng ngày hôm nay</h5>
                  <p data-v-7c8bbbf4="" class="num" id="roses_today">0</p>
                  <p data-v-7c8bbbf4="" class="txt" id="roses_f1">
                    Hoa hồng trực tiếp:0
                  </p>
                  <p data-v-7c8bbbf4="" class="txt" id="roses_f">
                    Hoa hồng đội: 0
                  </p>
                </div>
                <div data-v-7c8bbbf4="" class="right">
                  <p data-v-7c8bbbf4="" class="txt">
                    Cấp dưới trực tiếp:<span
                      data-v-7c8bbbf4=""
                      class="num"
                      id="f1"
                      >0</span
                    >
                  </p>
                  <p data-v-7c8bbbf4="" class="txt">
                    Tổng thành viên:<span
                      data-v-7c8bbbf4=""
                      class="num"
                      id="f_total"
                      >0</span
                    >
                  </p>
                  <p data-v-7c8bbbf4="" class="txt">
                    F1 mới hôm nay:
                    <span data-v-7c8bbbf4="" class="num" id="f1_today">0</span>
                  </p>
                  <p data-v-7c8bbbf4="" class="txt">
                    Tổng F mới trong ngày:
                    <span data-v-7c8bbbf4="" class="num" id="f_all_today"
                      >0</span
                    >
                  </p>
                  <p data-v-7c8bbbf4="" class="txt">Tổng hoa hồng trong tuần:<span data-v-7c8bbbf4=""
                                        class="num">0</span></p>
                  <p data-v-7c8bbbf4="" class="txt" roses_f>
                    Tổng hoa hồng:<span
                      data-v-7c8bbbf4=""
                      class="num"
                      id="roses_all"
                      >0</span
                    >
                  </p>
                </div>
              </div>
              <div data-v-7c8bbbf4="" class="info-img c-row c-row-between">
                <div data-v-7c8bbbf4="" class="img">
                  <div data-v-7c8bbbf4="" id="qrcode" title="">
                    <canvas
                      width="145"
                      height="145"
                      style="display: none"
                    ></canvas>
                  </div>
                  <div data-v-7c8bbbf4="" class="c-tc">
                    Nhấn và giữ để lưu mã QR
                  </div>
                </div>
                <div
                  data-v-7c8bbbf4=""
                  class="btn-list c-row c-row-middle-center"
                >
                  <div data-v-7c8bbbf4="" class="btn-box">
                    <div
                      data-v-7c8bbbf4=""
                      class="btn m-b-10 c-row c-row-middle-center tag-read"
                      data-clipboard-text=""
                    >
                      Sao chép Mã giới thiệu
                    </div>
                    <div
                      data-v-7c8bbbf4=""
                      data-clipboard-text=""
                      class="btn m-b-10 c-row c-row-middle-center tag-read"
                    >
                      Sao chép đường dẫn
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-v-7c8bbbf4="" class="tit c-row c-row-between">
              BẢNG DOANH THU ĐẠI LÝ
            </div>
            <div data-v-7c8bbbf4="" class="table">
              <div data-v-7c8bbbf4="" class="hd van-row">
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Cấp đại lý
                </div>
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Số người
                </div>
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Doanh thu đội
                </div>
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Tiền nạp đội
                </div>
              </div>
              <div data-v-7c8bbbf4="" class="bd van-row">
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Cấp 0
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0</div>
              </div>
              <div data-v-7c8bbbf4="" class="bd van-row">
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Cấp 1
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  1000000000
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  100000000
                </div>
              </div>
              <div data-v-7c8bbbf4="" class="bd van-row">
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Cấp 2
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">15</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  1500000000
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  150000000
                </div>
              </div>
              <div data-v-7c8bbbf4="" class="bd van-row">
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Cấp 3
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">30</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  2000000000
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  200000000
                </div>
              </div>
              <div data-v-7c8bbbf4="" class="bd van-row">
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Cấp 4
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">45</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  2500000000
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  250000000
                </div>
              </div>
              <div data-v-7c8bbbf4="" class="bd van-row">
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Cấp 5
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">50</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  3000000000
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  300000000
                </div>
              </div>
              <div data-v-7c8bbbf4="" class="bd van-row">
                <div
                  data-v-7c8bbbf4=""
                  class="c-tc van-ellipsis van-col van-col--6"
                >
                  Cấp 6
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">60</div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  5000000000
                </div>
                <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">
                  500000000
                </div>
              </div>
            </div>
            <div data-v-7c8bbbf4="" class="tit c-row c-row-between m-t-15">
              Cách tính hoa hồng
            </div>
            <div data-v-7c8bbbf4="" class="table">
              <div data-v-7c8bbbf4="" class="box" style="width: 420px">
                <div data-v-7c8bbbf4="" class="hd dl van-row">
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--6"
                  >
                    Cấp bậc
                    <p data-v-7c8bbbf4="" class="txt">Tỷ lệ hoàn trả</p>
                  </div>
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--4"
                  >
                    F1
                    <p data-v-7c8bbbf4="" class="txt">Doanh thu</p>
                  </div>
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--4"
                  >
                    F2
                    <p data-v-7c8bbbf4="" class="txt">Doanh thu</p>
                  </div>
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--5"
                  >
                    F3
                    <p data-v-7c8bbbf4="" class="txt">Doanh thu</p>
                  </div>
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--5"
                  >
                    F4
                    <p data-v-7c8bbbf4="" class="txt">Doanh thu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!---->
        <%- include('../nav') -%>
        <div
          data-v-7692a079=""
          data-v-3966082f=""
          class="Loading c-row c-row-middle-center"
        >
          <div data-v-7692a079="" class="van-loading van-loading--circular">
            <span
              data-v-7692a079=""
              class="van-loading__spinner van-loading__spinner--circular"
              style="color: rgb(0, 8, 255)"
            >
              <svg
                data-v-7692a079=""
                viewBox="25 25 50 50"
                class="van-loading__circular"
              >
                <circle
                  data-v-7692a079=""
                  cx="50"
                  cy="50"
                  r="20"
                  fill="none"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@master/qrcode.js"></script>
    <script src="dist/clipboard.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
      $(document).ready(function () {
        function alertMess(text, sic) {
          $("body").append(
            `
					<div data-v-1dcba851="" class="msg">
						<div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
					</div>
					`
          );
          setTimeout(() => {
            $(".msg .msg-content").removeClass("v-enter-active v-enter-to");
            $(".msg .msg-content").addClass("v-leave-active v-leave-to");
            setTimeout(() => {
              $(".msg").remove();
            }, 100);
            sic.removeClass("block-click");
          }, 1000);
        }
        $(".btn-box .btn").click(function (e) {
          e.preventDefault();
          $(this).addClass("block-click");
          alertMess("Sao chép thành công", $(this));
          navigator.clipboard.writeText($(this).attr("data-clipboard-text"));
        });
      });
    </script>
    <script>
      function formatM(params) {
        if (isNaN(params) || params === null || params === undefined || params === 0) {
        return 0; // Nếu đúng, trả về 0
      }
        var money = params;
        var config = {
          style: "currency",
          currency: "VND",
          maximumFractionDigits: 9,
        };
        var formated = new Intl.NumberFormat("vi-VN", config).format(money);
        return formated;
      }

      function RosesRender(datas) {
        let html = datas.map((e) => {
          let html = "";
          return (html += `<div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Cấp ${e.level}</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f1}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f2}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f3}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f4}%</div>
                    </div>`);
        });
        $(".table:eq(1) .box").append(html);

        $(".table:eq(1) .box").append(`
                <div data-v-7c8bbbf4="" class="bd van-row">
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--6">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                </div>
                `);
      }
      $.ajax({
        type: "POST",
        url: "/api/webapi/promotion",
        data: {},
        dataType: "json",
        success: function (response) {
          $("#registered_users_my_subordinates").text(response.invite.data_my_subordinates.registered_users_my_subordinates);
          $("#registered_users_my_subordinatesKM").text(response.invite.data_my_subordinates.registered_users_my_subordinates);
          $("#depositing_users_my_subordinates").text(response.invite.data_my_subordinates.depositing_users_my_subordinates);
          $("#deposited_amount_my_subordinates").text(formatM(response.invite.data_my_subordinates.deposited_amount_my_subordinates));
          $("#first_deposit_users_my_subordinates").text(response.invite.data_my_subordinates.first_deposit_users_my_subordinates);
          
          $("#registered_users_direct_subordinates").text(response.invite.data_direct_subordinates.registered_users_direct_subordinates);
          $("#registered_users_direct_subordinatesKM").text(response.invite.data_direct_subordinates.registered_users_direct_subordinates);
          $("#depositing_users_direct_subordinates").text(response.invite.data_direct_subordinates.depositing_users_direct_subordinates);
          $("#deposited_amount_direct_subordinates").text(formatM(response.invite.data_direct_subordinates.deposited_amount_direct_subordinates));
          $("#first_deposit_users_direct_subordinates").text(response.invite.data_direct_subordinates.first_deposit_users_direct_subordinates);

          $("#code").text(response.info[0].code);
          $("#clipboard-text").text(response.info[0].code);

          $("#clipboard-text").prop("data-clipboard-text", response.info[0].code);
          $("#clipboard-element").attr("data-clipboard-text", response.info[0].code);
          $("#clipboard-element").click(function() {
              var clipboardText = $(this).attr("data-clipboard-text");
              navigator.clipboard.writeText(clipboardText).then(function() {
                  alert("Đã sao chép mã mời!");
              }).catch(function(err) {
                  console.error('Lỗi khi sao chép:', err);
              });
          });

          $("#napdau").text(response.info[0].napdau);
          $("#napdau1").text(response.info[0].napdau);
          $("#money").text(formatM(response.info[0].money));

          //
          $(".Loading").fadeOut(0);
          $("#number_of_people_deposit").text(response.invite.number_of_people_deposit);
          $("#number_of_people_deposit_today").text(response.invite.number_of_people_deposit_today);
          $("#total_of_money").text(formatM(response.invite.total_of_money));
          
          $(".num").text(response.invite.f1);
          $(".txt").text(response.invite.f1);
          $("#f1").text(response.invite.f1);
          $("#f1_today").text(response.invite.f1_today);
          $("#f_all_today").text(response.invite.f_all_today);
          $("#f_total").text(response.invite.total_f);
          $(".numtotal_f").text(response.invite.total_f);
          $(".napdau").text(response.invite.napdau);
          $("#money").text(
            formatM(response.invite.money)
          );
          
          $("#roses_f1").text(
            formatM(response.invite.roses_f1)
          );
          $("#roses_f").text(
            "Hoa hồng đội: " + formatM(response.invite.roses_f)
          );
          $("#roses_all").text(formatM(response.invite.roses_all));
          $("#roses_today").text(formatM(response.invite.roses_today));
          $("#amountMoney").text(formatM(response.invite.amountMoney));
          $(".numberOfPeopleDeposit").text(response.invite.numberOfPeopleDeposit);

          if (response.status === false) return (location.href = "/home");
          RosesRender(response.level);
          $(".btn-box .btn:eq(0)").attr(
            "data-clipboard-text",
            response.info[0].code
          );
          $(".btn-box .btn:eq(1)").attr(
            "data-clipboard-text",
            window.location.hostname +
              `/register?r_code=${response.info[0].code}`
          );
          var qrcode = new QRCode("qrcode");
          $("#qrcode").attr(
            "title",
            window.location.hostname +
              `/register?r_code=${response.info[0].code}`
          );
          function makeCode() {
            qrcode.makeCode(
              window.location.hostname +
                `/register?r_code=${response.info[0].code}`
            );
          }

          makeCode();
        },
      });
    </script>
    <!-- <script>
        var limit = 15;
        var start = 0;
        var action = 'inactive';
        function load_country_data(limit, start) {
            $.ajax({
                url: "http://localhost:3000/api/webapi/promotion",
                method: "POST",
                data: {
                    limit: limit,
                    start: start
                },
                cache: false,
                success: function(data) {
                    if (giai_doan == '') {
                        $('.van-list__finished-text').text("Không còn dữ liệu");
                        action = 'active';
                    } else {
                        $('.van-list__finished-text').html('<div data-v-7d40872f="" class="order-content"><div role="feed" class="van-list" aria-busy="true"><div class="van-list__loading"><div class="van-loading van-loading--circular"><span class="van-loading__spinner van-loading__spinner--circular" style="width: 16px; height: 16px;"><svg viewBox="25 25 50 50" class="van-loading__circular"><circle cx="50" cy="50" r="20" fill="none"></circle></svg></span><span class="van-loading__text">Đang tải...</span></div></div><div class="van-list__placeholder"></div></div></div>');
                        action = "inactive";
                    }
                }
            });
        }
        if (action == 'inactive') {
            action = 'active';
            load_country_data(limit, start);
        }
        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() > $(".main").height() && action == 'inactive') {
                action = 'active';
                start = start + limit;
                setTimeout(function() {
                    load_country_data(limit, start);
                }, 1200);
            }
        });
    </script> -->
  </body>
</html>
