<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" style="font-size: 48.24px">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
      name="viewport"
    />
    <title>KIKI79</title>
    <link href="/css/promotion/app.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_1.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_2.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_3.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_4.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_5.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_6.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      href="/images/bitbug_favicon.ico"
      type="image/x-icon"
    />
    <style>
      html,
      body {
        height: 100%;
        width: 100%;
        background-color: #9195a3;
        padding: 0;
        margin: 0;
      }
      .block-click {
        pointer-events: none;
      }
      .mian[data-v-51f72da1] {
        min-height: 100vh;
        background-color: #f7f8ff;
      }
      .mian .audio[data-v-51f72da1] {
        width: 0.66667rem;
        height: 0.66667rem;
      }
      .main-container {
        text-align: center;
        margin-top: -20px;
      }
      .title-01 {
        font-size: 16px;
        font-weight: bold;
        color: #fcc419;
      }
      .title-02 {
        margin-top: 12px;
        font-size: 14px;
        font-weight: bold;
        color: #aeb0c7;
      }
      .title-03 {
        margin-top: 12px;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        margin-left: 12px;
      }
      .main-container img {
        width: 100%;
        height: auto;
      }
    </style>
  </head>

  <body style="font-size: 12px">
    <div id="app">
      <div data-v-7c8bbbf4="" class="mian">
        <div data-v-106b99c8="" data-v-7c8bbbf4="" class="navbar">
          <div
            data-v-106b99c8=""
            class="navbar-left"
            onclick="location.href='/promotion'"
          >
            <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
              <img
                alt=""
                data-v-106b99c8=""
                src="/images/back.c3244ab0.png"
                class="navbar-back"
              />
            </div>
          </div>
          <div
            data-v-106b99c8=""
            class="navbar-title"
            style="font-weight: bold"
          >
            Quy tắc mời
          </div>
        </div>

        <div class="navbar-title"></div>

        <div data-v-7c8bbbf4="" class="promotion">
          <div data-v-7c8bbbf4="" class="main-container">
            <div class="title-01">
              Kế hoạch 【Hợp tác quảng bá thương hiệu】
            </div>
            <div class="title-02">
              Hoạt động này có hiệu lực một thời gian dài
            </div>
            <div>
              <img src="/images/QuyTac1.png" alt="QuyTac1" />
            </div>
            <div>
              <img src="/images/Quytac2-min.png" alt="Quytac2-min" />
            </div>
            <div data-v-7c8bbbf4="" class="table"></div>
            <div data-v-7c8bbbf4="" class="title-03">Cách tính hoa hồng</div>
            <div data-v-7c8bbbf4="" class="table">
              <div data-v-7c8bbbf4="" class="box" style="width: 840px">
                <div data-v-7c8bbbf4="" class="hd dl van-row">
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--3"
                    style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Cấp hoa
                    <p data-v-7c8bbbf4="" class="txt">hồng</p>
                  </div>
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--2"
                    style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F1</p>
                  </div>
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--2"
                    style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F2</p>
                  </div>
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--2"
                    style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F3</p>
                  </div>
                  <div
                    data-v-7c8bbbf4=""
                    class="c-tc van-ellipsis van-col van-col--2"
                    style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F4</p>
                  </div>
                  <div
                          data-v-7c8bbbf4=""
                          class="c-tc van-ellipsis van-col van-col--2"
                          style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F5</p>
                  </div>
                  <div
                          data-v-7c8bbbf4=""
                          class="c-tc van-ellipsis van-col van-col--2"
                          style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F6</p>
                  </div>
                  <div
                          data-v-7c8bbbf4=""
                          class="c-tc van-ellipsis van-col van-col--2"
                          style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F7</p>
                  </div>
                  <div
                          data-v-7c8bbbf4=""
                          class="c-tc van-ellipsis van-col van-col--2"
                          style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F8</p>
                  </div>
                  <div
                          data-v-7c8bbbf4=""
                          class="c-tc van-ellipsis van-col van-col--2"
                          style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F9</p>
                  </div>
                  <div
                          data-v-7c8bbbf4=""
                          class="c-tc van-ellipsis van-col van-col--2"
                          style="
                      background-color: #fcc419;
                      font-weight: bold;
                      font-size: 12px;
                      color: #fff;
                    "
                  >
                    Doanh thu
                    <p data-v-7c8bbbf4="" class="txt">F10</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../nav') -%>
        <div
          data-v-7692a079=""
          data-v-3966082f=""
          class="Loading c-row c-row-middle-center"
        >
          <div data-v-7692a079="" class="van-loading van-loading--circular">
            <span
              data-v-7692a079=""
              class="van-loading__spinner van-loading__spinner--circular"
              style="color: rgb(0, 8, 255)"
            >
              <svg
                data-v-7692a079=""
                viewBox="25 25 50 50"
                class="van-loading__circular"
              >
                <circle
                  data-v-7692a079=""
                  cx="50"
                  cy="50"
                  r="20"
                  fill="none"
                ></circle>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@master/qrcode.js"></script>
    <script src="/js/client.js"></script>
    <script>
      $(document).ready(function () {
        function alertMess(text, sic) {
          $("body").append(
            `
					<div data-v-1dcba851="" class="msg">
						<div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
					</div>
					`
          );
          setTimeout(() => {
            $(".msg .msg-content").removeClass("v-enter-active v-enter-to");
            $(".msg .msg-content").addClass("v-leave-active v-leave-to");
            setTimeout(() => {
              $(".msg").remove();
            }, 100);
            sic.removeClass("block-click");
          }, 1000);
        }
        $(".btn-box .btn").click(function (e) {
          e.preventDefault();
          $(this).addClass("block-click");
          alertMess("Sao chép thành công", $(this));
          navigator.clipboard.writeText($(this).attr("data-clipboard-text"));
        });
      });
    </script>
    <script>
      function formatM(params) {
        if (
          isNaN(params) ||
          params === null ||
          params === undefined ||
          params === 0
        ) {
          return 0; // Nếu đúng, trả về 0
        }
        var money = params;
        var config = {
          style: "currency",
          currency: "VND",
          maximumFractionDigits: 9,
        };
        var formated = new Intl.NumberFormat("vi-VN", config).format(money);
        return formated;
      }
      function RosesRender(datas) {
        let html = datas.map((e) => {
          let html = "";
          return (html += `<div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--3" style="font-weight: bold">Cấp ${e.level}</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f1}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f2}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f3}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f4}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f5}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f6}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f7}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f8}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f9}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--2" style="font-weight: bold">${e.f10}%</div>
                    </div>`);
        });
        $(".table:eq(1) .box").append(html);

        $(".table:eq(1) .box").append(`
                <div data-v-7c8bbbf4="" class="bd van-row">
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--3">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--2">...</div>
                </div>
                `);
      }
      $.ajax({
        type: "POST",
        url: "/api/webapi/promotion",
        data: {},
        dataType: "json",
        success: function (response) {
          $(".Loading").fadeOut(0);
          $("#f1").text(response.invite.f1);
          $("#f1_today").text(response.invite.f1_today);
          $("#f_all_today").text(response.invite.f_all_today);
          $("#f_total").text(response.invite.total_f);

          $("#roses_f1").text(
            "Hoa hồng trực tiếp: " + formatM(response.invite.roses_f1)
          );
          $("#roses_f").text(
            "Hoa hồng đội: " + formatM(response.invite.roses_f)
          );
          $("#roses_all").text(formatM(response.invite.roses_all));
          $("#roses_today").text(formatM(response.invite.roses_today));

          if (response.status === false) return (location.href = "/home");
          RosesRender(response.level);
          $(".btn-box .btn:eq(0)").attr(
            "data-clipboard-text",
            response.info[0].code
          );
          $(".btn-box .btn:eq(1)").attr(
            "data-clipboard-text",
            window.location.hostname +
              `/register?r_code=${response.info[0].code}`
          );
          var qrcode = new QRCode("qrcode");
          $("#qrcode").attr(
            "title",
            window.location.hostname +
              `/register?r_code=${response.info[0].code}`
          );
          function makeCode() {
            qrcode.makeCode(
              window.location.hostname +
                `/register?r_code=${response.info[0].code}`
            );
          }

          makeCode();
        },
      });
    </script>
  </body>
</html>
