<!DOCTYPE html>
<html
        translate="no"
        data-dpr="1"
        style="font-size: 48.16px"
        style="min-height: 100vh"
>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport"
    />
    <title>99WINGO</title>
    <link href="/css/member/main.css" rel="stylesheet" />
    <link href="/css/member/chunk-1.css" rel="stylesheet" />
    <link href="/css/member/chunk-2.css" rel="stylesheet" />
    <link href="/css/member/chunk-3.css" rel="stylesheet" />
    <link href="/css/member/chunk-4.css" rel="stylesheet" />
    <link href="/css/member/chunk-5.css" rel="stylesheet" />
    <link href="/css/member/chunk-6.css" rel="stylesheet" />
    <link href="/css/member/chunk-7.css" rel="stylesheet" />
    <link
            rel="shortcut icon"
            href="/images/bitbug_favicon.ico"
            type="image/x-icon"
    />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
        .block-click {
            pointer-events: none;
        }
        .mian .menu-box .info[data-v-8cd483ca] {
            background: none;
            box-shadow: 0 4px 10px #0000004d;
            height: 5.8rem;
            margin: 51px .4rem .4rem;
            border-radius: 0.4rem;
        }


        .mian .menu-box .info .state-box[data-v-8cd483ca] {
            padding-bottom: 20px;
            border-bottom: 1px solid #2b2b2b;
        }
        .mian .infoSecurity[data-v-8cd483ca] {
            margin: 0.53333rem .4rem .4rem;
        }
        .mian .infoSecurity .item[data-v-8cd483ca] {
            margin-top: 20px;
            padding: 15px 10px;
            box-shadow: 0 4px 10px #0000004d;
            border-radius: 0.2rem;
        }
        .mian {
            padding-top: 0px;
        }

    </style>
</head>

<body>
<div id="app">
    <div data-v-8cd483ca="" class="mian page">
        <div data-v-106b99c8="" data-v-25d9c352="" class="c-row navbar">
            <div
                    data-v-106b99c8=""
                    class="navbar-left"
                    onclick="location.href='/mian'"
            >
                <div
                        data-v-25d9c352=""
                        data-v-106b99c8=""
                        class="c-row c-row-middle-center"
                >
                    <img
                            data-v-25d9c352=""
                            data-v-106b99c8=""
                            src="/images/back.c3244ab0.png"
                            class="navbar-back"
                    />
                </div>
            </div>
            <div data-v-106b99c8="" class="navbar-title">Trung tâm cài đặt</div>
            <div data-v-106b99c8="" class="navbar-right"></div>
        </div>
        <div data-v-8cd483ca="" class="menu-box">
            <div data-v-8cd483ca="" class="info p-t-30 p-l-30 p-b-30 p-r-20">
                <div
                        data-v-8cd483ca=""
                        class="c-row c-column c-row-middle state-box c-pr"
                >
                    <div data-v-8cd483ca="" class="c-row c-row-middle c-row-between">
                        <div data-v-8cd483ca="" class="user-img">
                            <img
                                    data-v-8cd483ca=""
                                    src="/images/avatar.svg"
                                    class="img"
                            />
                        </div>
                        <div data-v-8cd483ca="" class="c-row c-row-between" style="margin-left: 110px">
                            <div data-v-8cd483ca=""  style="margin-right: 5px;">
                                <div data-v-8cd483ca="" style="font-size: 12px;color: rgb(52,61,61)">Thay đổi ảnh đại diện</div>
                            </div>
                            <i

                                    data-v-8cd483ca=""
                                    class="van-icon van-icon-arrow"
                                    style="color: rgb(52,61,61); font-size: 15px ; padding-top: 2px"
                            >
                                <!---->
                            </i>

                        </div>
                    </div>
                    <div data-v-8cd483ca="" class="c-row c-row-middle c-row-between" style="margin-top: 20px">
                        <div data-v-8cd483ca="" style="margin-right: 5px;color: rgb(52,61,61)">
                            Nickname
                        </div>
                        <div data-v-8cd483ca="" class="c-row c-row-between" style="margin-left: 154px">
                            <div data-v-8cd483ca="" class="infoName" style="margin-right: 5px">
                                <div data-v-8cd483ca="" class="nickname" style="font-size: 12px;color: rgb(52,61,61)"></div>
                            </div>
                            <i

                                    data-v-8cd483ca=""
                                    class="van-icon van-icon-arrow"
                                    style="color: rgb(52,61,61); font-size: 15px ; padding-top: 2px"
                            >
                                <!---->
                            </i>

                        </div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="c-row c-row-middle c-row-between" style="margin-top: 20px">
                    <div data-v-8cd483ca="" style="margin-right: 5px;color: rgb(52,61,61)">
                        UID
                    </div>
                    <div data-v-8cd483ca="" class="itemUID c-row c-row-between" style="margin-left: 154px">
                        <div data-v-8cd483ca="" class="infoName" style="margin-right: 5px">
                            <div data-v-8cd483ca="" class="uid" style="font-size: 12px;color: rgb(52,61,61)"></div>
                        </div>
                        <div data-v-67caa467="">
                            <div
                                    data-v-67caa467=""
                                    class="tag-read van-image"
                                    data-clipboard-text="03/07/2022"
                                    style="width: 22px; height: 20px"
                            >
                                <img src="/images/copy.png" class="van-image__img" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
        <div data-v-8cd483ca="" class="infoSecurity" >
            <div data-v-8cd483ca="" class="c-row c-row-middle" >
                <img src="/images/manu.png" style="height: 20px;width: 5px">
                <div data-v-8cd483ca="" style="font-weight: bold;margin-left: 5px">Thông tin an toàn</div>
            </div>
            <div
                    data-v-8cd483ca=""
                    class="item c-row c-row-between"
                    onclick="location.href='/mian/forgot'"
            >
                <div data-v-21f3500a="" class="c-row c-row-middle">
                    <img
                            data-v-8cd483ca=""
                            width="24px"
                            height="24px"
                            src="/images/lock.png"
                            class="img"
                    /><span data-v-8cd483ca="" class="name" style="margin-left: 10px">Mật khẩu đăng nhập</span>
                </div>
                <div data-v-8cd483ca="" class="c-row c-row-middle" >
                    <div data-v-8cd483ca="" style="font-size: 12px;padding:5px ;margin-right: 10px; line-height: 0!important;">Sửa đổi</div>
                    <i
                            data-v-8cd483ca=""
                            class="van-icon van-icon-arrow"
                            style="color: rgb(84, 94, 104); font-size: 20px"
                    >
                    </i>
                </div>
            </div>
            <div
                    data-v-8cd483ca=""
                    class="item c-row c-row-between"
            >
                <div data-v-21f3500a="" class="c-row c-row-middle">
                    <img
                            data-v-8cd483ca=""
                            width="24px"
                            height="24px"
                            src="/images/version.png"
                            class="img"
                    /><span data-v-8cd483ca="" class="name" style="margin-left: 10px">Phiên bản cập nhật</span>
                </div>
                <div data-v-8cd483ca="" class="c-row c-row-middle">
                    <div data-v-8cd483ca="" style="font-size: 12px;padding:5px ;margin-right: 10px; line-height: 0!important;">1.1.0</div>
                    <i
                            data-v-8cd483ca=""
                            class="van-icon van-icon-arrow"
                            style="color: rgb(84, 94, 104); font-size: 20px"
                    >
                    </i>
                </div>
            </div>
        </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/client.js"></script>
<script>
    fetch("/api/webapi/GetUserInfo")
        .then((response) => response.json())
        .then((data) => {
            if (data.status === false) {
                unsetCookie();
                return false;
            }
            $(".info .nickname").text(data.data.name_user);
            $(".infoName .uid").text(`${data.data.id_user}`);
            $(".infoName .uid").attr("data-clipboard-text", "");
            // $(".infoName .number").text(`Điện thoại:${data.data.phone_user}`);
            $(".money .txt").text(` ${data.data.money_user}.00 ₫ `);
        });
</script>
<!---->
<script>

    window.onload = function () {
        $(".Loading").fadeOut(10);
    };

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(";");
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == " ") {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function unsetCookie() {
        setCookie("token", "", 0);
        setCookie("auth", "", 0);
        var checkToken = getCookie("token");
        var checkAuth = getCookie("auth");
        if (!checkToken && !checkAuth) {
            location.href = "/login";
        } else {
            setCookie("token", "", 0);
            setCookie("auth", "", 0);
            location.href = "/login";
        }
    }
    $(".info .itemUID").click(function (e) {
        let text = $(this).find(".uid").text().trim();
        navigator.clipboard.writeText(text);
        $(this).addClass("block-click");
        alertMess("Sao chép thành công", $(this));
    });
    function alertMess(text, sic) {
        $("body").append(
            `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
        );
        setTimeout(() => {
            $(".msg .msg-content").removeClass("v-enter-active v-enter-to");
            $(".msg .msg-content").addClass("v-leave-active v-leave-to");
            setTimeout(() => {
                $(".msg").remove();
            }, 100);
            sic.removeClass("block-click");
        }, 1000);
    }
    $(".van-dialog__confirm").click(function (e) {
        e.preventDefault();
        unsetCookie();
    });
</script>
</body>
</html>
