<!DOCTYPE html>
<html
        translate="no"
        data-dpr="1"
        style="font-size: 48.16px"
        style="min-height: 100vh"
>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport"
    />
    <title>99WINGO</title>
    <link href="/css/member/main.css" rel="stylesheet" />
    <link href="/css/member/chunk-1.css" rel="stylesheet" />
    <link href="/css/member/chunk-2.css" rel="stylesheet" />
    <link href="/css/member/chunk-3.css" rel="stylesheet" />
    <link href="/css/member/chunk-4.css" rel="stylesheet" />
    <link href="/css/member/chunk-5.css" rel="stylesheet" />
    <link href="/css/member/chunk-6.css" rel="stylesheet" />
    <link href="/css/member/chunk-7.css" rel="stylesheet" />
    <link
            rel="shortcut icon"
            href="/images/bitbug_favicon.ico"
            type="image/x-icon"
    />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
        .block-click {
            pointer-events: none;
        }
        .mian .menu-box .info[data-v-8cd483ca] {
            background-image: linear-gradient(90deg, #d71212, #ff5851);
            height: 3.6rem;
        }

        .mian .total-box[data-v-8cd483ca] {
            margin: -10px .4rem .4rem;
            background-color: #fff;
            padding: .4rem .53333rem;
            border-radius: .4rem;
            box-shadow: 0 4px 10px #0000004d;
        }

        .mian .total-box .title[data-v-8cd483ca] {
            background-color: #fff;
            padding: 10px 20px;
            background-image: linear-gradient(90deg, #d71212, #ff5851);
            border-radius: 20px;
            text-align: center;
            margin-top: 10px;
            color: #fff;
        }
        .mian {
            padding-top: 0px;
        }

        .mian .box-wallet[data-v-8cd483ca] {
            margin: 20px .4rem .4rem;
        }

        .mian .box-wallet .box-item[data-v-8cd483ca]{
            width: 104px;
            height: 83px;
            border-radius: 10px;
            box-shadow: 0 4px 10px #0000004d;
            margin-top: 20px;
            margin-right: 5px;
            margin-left: 8px;
        }
        .mian .box-wallet .box-item.action[data-v-8cd483ca]{
            width: 104px;
            height: 83px;
            background-image: linear-gradient(90deg, #d71212, #ff5851);
            border-radius: 10px;
            box-shadow: 0 4px 10px #0000004d;
            margin-top: 20px;
            margin-right: 5px;
            margin-left: 8px;
            color: #fff;
        }


    </style>
</head>

<body>
<div id="app">
    <div data-v-8cd483ca="" class="mian page">
        <div data-v-106b99c8="" data-v-25d9c352="" class="c-row navbar">
            <div
                    data-v-106b99c8=""
                    class="navbar-left"
                    onclick="location.href='/mian'"
            >
                <div
                        data-v-25d9c352=""
                        data-v-106b99c8=""
                        class="c-row c-row-middle-center"
                >
                    <img
                            data-v-25d9c352=""
                            data-v-106b99c8=""
                            src="/images/back.c3244ab0.png"
                            class="navbar-back"
                    />
                </div>
            </div>
            <div data-v-106b99c8="" class="navbar-title">Ví tiền</div>
            <div data-v-106b99c8="" class="navbar-right"></div>
        </div>
        <div data-v-8cd483ca="" class="menu-box">
            <div data-v-8cd483ca="" class="info p-t-30 p-l-30 p-b-30 p-r-20">
                <div
                        data-v-8cd483ca=""
                >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle c-row-between" style="color: #fff">
                        <div data-v-8cd483ca="" class="money" style="font-weight: bold;font-size: 19px;margin-top: 40px">0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px">Tổng số tiền</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-8cd483ca="" class="total-box">
            <div data-v-8cd483ca="" class="infoItem">
                <div data-v-8cd483ca="" class="c-row c-row-between  c-row-middle">
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle">
                        <img src="/images/mainWallet.png">
                        <div data-v-8cd483ca="" class="money" style="margin-top: 5px" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 7px">Main Wallet</div>
                    </div>
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle">
                        <img src="/images/vithu3.png">
                        <div data-v-8cd483ca="" style="margin-top: 5px" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 7px">Ví bên thứ 3</div>
                    </div>
                </div>

                <div data-v-8cd483ca="" class="title" >Chuyển về ví chính </div>
                <div
                        data-v-8cd483ca=""
                        class="c-row c-row-between c-row-middle m-t-10 infoBtn"
                        style="border-top: 1px solid #f4f4f4"
                >
                    <div  data-v-8cd483ca="" class="m-t-10 m-l-10 m-r-15 c-row c-row-middle c-column c-column-between" onclick="location.href='/wallet/recharge'" >
                        <img
                                alt="wallet"
                                src="/images/recharge.png"
                                style="width: 38px; height: 38px;  box-shadow: 0 4px 10px #0000004d;border-radius: 5px" />
                        <div
                                data-v-8cd483ca=""
                                class="li"
                                style="text-align: center;margin-top: 2px ;font-size: 12px"
                        >
                            Nạp tiền
                        </div>
                    </div>
                    <div data-v-8cd483ca="" class="m-t-10 m-r-10 m-l-10 c-row c-row-middle c-column c-column-between" onclick="location.href='/wallet/withdrawal'" >
                        <img
                                alt="recharge"
                                src="/images/withdraw.png"
                                style="width: 38px; height: 38px ; box-shadow: 0 4px 10px #0000004d ;border-radius: 5px"
                        />
                        <div
                                data-v-8cd483ca=""
                                class="li"
                                style="text-align: center;margin-top: 2px ;font-size: 12px"
                        >
                            Rút tiền
                        </div>
                    </div>
                    <div data-v-8cd483ca="" class="m-t-10 c-row c-row-middle c-column c-column-between" onclick="location.href='/rechargeHistory'" >
                        <img
                                alt="withDraw"
                                src="/images/list_rechage.png"
                                style="width: 38px; height: 38px ; box-shadow: 0 4px 10px #0000004d;border-radius: 5px"/>
                        <div
                                data-v-8cd483ca=""
                                class="li"
                                style="text-align: center;margin-top: 2px ;font-size: 12px"
                        >
                            Lịch sử nạp
                        </div>
                    </div>
                    <div data-v-8cd483ca="" class="m-t-10  c-row c-row-middle c-column c-column-between" onclick="location.href='/withdrawHistory'" >
                        <img
                                alt="withDraw"
                                src="/images/list_wallet.png"
                                style="width: 38px; height: 38px ;box-shadow: 0 4px 10px #0000004d;border-radius: 5px"/>
                        <div
                                data-v-8cd483ca=""
                                class="li"
                                style="text-align: center;margin-top: 2px ;font-size: 12px"
                        >
                            Lịch sử Rút tiền
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-8cd483ca="" class="box-wallet">
            <div data-v-8cd483ca="" class="c-row" style="flex-wrap: wrap;justify-content: flex-start">
                <div data-v-8cd483ca="" class="box-item action" >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle" style="width: 100%;margin-top: 20px">
                        <div data-v-8cd483ca="" class="money" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px;">Tổng số tiền</div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="box-item" >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle" style="width: 100%;margin-top: 24px;">
                        <div data-v-8cd483ca="" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px">EVO</div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="box-item" >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle" style="width: 100%;margin-top: 24px;">
                        <div data-v-8cd483ca="" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px">MWG</div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="box-item" >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle" style="width: 100%;margin-top: 24px;">
                        <div data-v-8cd483ca="" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px">IM Slot</div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="box-item" >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle" style="width: 100%;margin-top: 24px;">
                        <div data-v-8cd483ca="" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px">VR Lottery</div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="box-item" >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle" style="width: 100%;margin-top: 24px;">
                        <div data-v-8cd483ca="" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px">VG</div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="box-item" >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle" style="width: 100%;margin-top: 24px;">
                        <div data-v-8cd483ca="" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px">AP</div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="box-item" >
                    <div data-v-8cd483ca="" class="c-row c-column c-row-middle" style="width: 100%;margin-top: 24px;">
                        <div data-v-8cd483ca="" >0 Đ</div>
                        <div data-v-8cd483ca="" style="margin-top: 3px">YGR</div>
                    </div>
                </div>

            </div>
        </div>
        <%- include('../nav') -%>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        fetch("/api/webapi/GetUserInfo")
            .then((response) => response.json())
            .then((data) => {
                if (data.status === false) {
                    unsetCookie();
                    return false;
                }
                // $(".infoName .number").text(`Điện thoại:${data.data.phone_user}`);
                $(".mian .money").text(` ${data.data.money_user}.0 ₫`);
            });
    </script>
    <!---->
    <script>

        window.onload = function () {
            $(".Loading").fadeOut(10);
        };

        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(";");
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == " ") {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function unsetCookie() {
            setCookie("token", "", 0);
            setCookie("auth", "", 0);
            var checkToken = getCookie("token");
            var checkAuth = getCookie("auth");
            if (!checkToken && !checkAuth) {
                location.href = "/login";
            } else {
                setCookie("token", "", 0);
                setCookie("auth", "", 0);
                location.href = "/login";
            }
        }
        $(".info .itemUID").click(function (e) {
            let text = $(this).find(".uid").text().trim();
            navigator.clipboard.writeText(text);
            $(this).addClass("block-click");
            alertMess("Sao chép thành công", $(this));
        });
        function alertMess(text, sic) {
            $("body").append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $(".msg .msg-content").removeClass("v-enter-active v-enter-to");
                $(".msg .msg-content").addClass("v-leave-active v-leave-to");
                setTimeout(() => {
                    $(".msg").remove();
                }, 100);
                sic.removeClass("block-click");
            }, 1000);
        }
        $(".van-dialog__confirm").click(function (e) {
            e.preventDefault();
            unsetCookie();
        });
    </script>
</body>
</html>
