<div data-v-a9660e98="" class="tab c-row c-row-between">
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt action">
            Lịch sử trò chơi
        </span>
    </div>
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt"> Biểu đồ </span>
    </div>
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt"> Đặt cược của tôi </span>
    </div>
</div>
<div data-v-a9660e98="" class="con-box">
        <div data-v-a9660e98="" class="list m-t-10"style="min-height: 667px" >
            <div data-v-a9660e98="" class="wrap">
                <div data-v-a9660e98="" class="c-tc van-row">
                    <div data-v-a9660e98="" class="van-col van-col--8">Kỳ xổ</div>
                    <div data-v-a9660e98="" class="van-col van-col--5">
                        Số lượng
                    </div>
                    <div data-v-a9660e98="" class="van-col van-col--5">
                        Lớn Nhỏ
                    </div>
                    <div data-v-a9660e98="" class="van-col van-col--6">
                        Màu sắc
                    </div>
                </div>
            </div>
        <div data-v-a9660e98="">
            <div data-v-a9660e98="" class="hb"></div>
        </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center block-click">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
                <!---->
            </i>
        </div>
        <div data-v-a9660e98="" class="number"></div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
</div>
<div data-v-a9660e98="" class="con-box p-b-20" style="display: none">
    <div data-v-a9660e98="" class="list m-t-10" style="min-height: 667px" >
        <div data-v-a9660e98="" >
            <div data-v-a9660e98="" style="display: flex;width: 95% ;margin: 0 auto; background-color: #fb555c;min-height: 40px;color: #fff;align-items: center">
                 <div data-v-a9660e98="" style="display: flex; ">
                     <div data-v-a9660e98="" style="padding-left: 30px;font-weight: bold">Kỳ sổ</div>
                     <div data-v-a9660e98="" style="font-weight: bold;padding-left: 105px">Con số</div>
                 </div>
            </div>
            <table data-v-a9660e98="" style="background-color: transparent; width: 100%; border-radius: 8px;" class="supportBet">
                <div data-v-a9660e98="" style=" padding-left: 11px;padding-top: 9px;width: 100%"><span data-v-a9660e98="">Hỗ trợ đặt cược (100 kỳ sổ trước đây)</span></div>
                <tr style="background-color: transparent; ">
                    <td data-v-a9660e98="" style="padding-left: 10px; padding-top: 8px;">Số mở thưởng</td>
                    <td data-v-a9660e98="" class="reward" style="padding-top: 8px;padding-left: 5px; display: flex"></td>
                </tr>
                <tr style="background-color: transparent;">
                    <td data-v-a9660e98="" style="padding-left: 10px;padding-top: 8px;">Số kỳ chưa xổ</td>
                    <td data-v-a9660e98="" style="padding-left: 5px;padding-top: 8px; display: flex" class="soKyChuaXo">0</td>
                </tr>
                <tr style="background-color: transparent; ">
                    <td data-v-a9660e98="" style="padding-left: 10px;padding-top: 8px;">Bình quân số kỳ</td>
                    <td data-v-a9660e98="" style="padding-left: 5px;padding-top: 8px; display: flex" class="binhQuanSoKy">0</td>
                </tr>
                <tr style="background-color: transparent;">
                    <td data-v-a9660e98="" style="padding-left: 10px;padding-top: 5px;">Tần số xuất hiện</td>
                    <td data-v-a9660e98="" style="padding-left: 5px;padding-top: 5px;display: flex" class="tanSoXuatHien">0</td>
                </tr>
                <tr style="background-color: transparent;">
                    <td data-v-a9660e98="" style="padding-left: 10px;padding-top: 8px;">Số kỳ liên tiếp tối đa</td>
                    <td data-v-a9660e98="" style="padding-left: 5px;padding-top: 8px;display: flex" class="soKyLienTiepToiDa" >0</td>
                </tr>
            </table>
        </div>
        <div data-v-a9660e98="" class="wrap">
            <div data-v-a9660e98="" class="c-tc van-row">
                <div data-v-a9660e98="" class="van-col van-col--8">Kỳ xổ</div>
                <div data-v-a9660e98="" class="van-col van-col--12">
                    Kết quả
                </div>
                <div data-v-a9660e98="" class="van-col van-col--4">
                    Lớn Nhỏ
                </div>
            </div>
        </div>
        <div data-v-a9660e98="">
            <div data-v-a9660e98="" class="hb" id="list_bd">
              <!---->
            </div>
          </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
            </i>
        </div>
        <div data-v-a9660e98="" class="number">1/1965</div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
            </i>
        </div>
    </div>
</div>
<div data-v-a9660e98="" class="con-box p-b-20" style="display: none">
    <div data-v-a9660e98="" class="c-row c-flew-end p-r-20">
        <div data-v-a9660e98="" class="bettingMore c-tc c-row c-row-middle-center">
            Hơn<i data-v-a9660e98="" class="van-icon van-icon-arrow"
                style="color: rgb(84, 94, 104); font-size: 15px">
                <!---->
            </i>
        </div>
    </div>
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="" class="p-t-5 p-b-5" id="history-order">
            
        </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <!---->
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
                <!---->
            </i>
        </div>
        <div data-v-a9660e98="" class="number"></div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
</div>